* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --mishcer-color: #8f00ff;
}

body {
  font-size: 10px;
  min-height: 100vh;
  font-family: "Titillium Web", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  height: 95vh;
  width: 40%;
  min-width: 350px;
}

.wrapper {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid gray;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.details {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 10px;
}

.track_art {
  width: 50%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid gray;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.track_name {
  font-size: 2.5em;
}

.track_artist {
  font-size: 2em;
}

.now_playing {
  font-size: 1.5em;
}

.slider_container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.track_size_range {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.track_size_range div {
  font-size: 1.6em;
}

.track_volume {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.track_volume i {
  font-size: 20px;
  color: #6207a8;
}

.track,
.volume {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 5px;
  background-color: var(--mishcer-color);
}
.track::-webkit-slider-thumb,
.volume::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  aspect-ratio: 1/1;
  width: 13px;
  border: 3px solid var(--mishcer-color);
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}
.track::-webkit-slider-thumb:hover,
.volume::-webkit-slider-thumb:hover {
  background-color: black;
  transform: scale(1.3);
}

.track {
  width: 60%;
}

.volume {
  width: 30%;
}

.buttons {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.buttons i {
  cursor: pointer;
  color: #6207a8;
}

.random_track_button > i,
.repeat > i {
  font-size: 30px;
}

.prev_track > i,
.next_track > i {
  font-size: 40px;
}

.play_pause > i {
  font-size: 60px;
}

.loader {
  margin-top: 5px;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.loader .stroke {
  background-color: var(--mishcer-color);
  height: 100%;
  width: 10px;
  border-radius: 50px;
  -webkit-animation: animate 1.4s linear infinite;
          animation: animate 1.4s linear infinite;
}

@-webkit-keyframes animate {
  50% {
    height: 20%;
    background-color: coral;
  }
  100% {
    height: 80%;
    background-color: greenyellow;
  }
}

@keyframes animate {
  50% {
    height: 20%;
    background-color: coral;
  }
  100% {
    height: 80%;
    background-color: greenyellow;
  }
}
.stroke:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.stroke:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.stroke:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.stroke:nth-child(4) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.stroke:nth-child(5) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.stroke:nth-child(6) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.stroke:nth-child(7) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@media only screen and (max-width: 900px) {
  .loader {
    margin-top: 50px;
  }
}
.rotate {
  -webkit-animation: rotation 8s infinite linear;
          animation: rotation 8s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.active {
  color: black;
}/*# sourceMappingURL=style.css.map */